# Assets
Assets/

# Archivos temporales
*.tmp
*.swp
.DS_Store
Thumbs.db

# Directorios de salida / compilación
out/
bin/
build/
dist/
target/

# Configuraciones de IDE
.vscode/
.idea/
*.iml

# Archivos de entorno
.env

# Ignorar configuraciones locales de NetBeans
MetalGear/nbproject/
nbproject/
nbproject/private/

# Archivos de sistema y backups
*.class
*.log
*.bak
