# Ignorar carpeta Assets
Assets/

# Archivos de clase compilados
*.class

# Archivos de log
*.log

# Archivos temporales de sistema
*.tmp
*.swp
.DS_Store
Thumbs.db

# Directorios de salida / compilación
out/
bin/
build/
dist/
target/

# Configuraciones de IDE
.vscode/
.idea/
*.iml

# Archivos de entorno
.env

# Configuración privada de NetBeans
MetalGear/nbproject
